@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Binary Options Trading</h2>
        <p>
            Trading binary options is a popular way of trading online. 
        </p>
        <p><a class="btn btn-default" href="~/Trade">Trade Now &raquo;</a>

    </div>
   
</div>